<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- ****************************************************** diffbot Robot ************************************************************  -->
<!-- Muthanna Alwahash                                                                                                                  -->
<!-- March 2022                                                                                                                         -->
<!-- *********************************************************************************************************************************  -->

<!-- ****************************************************** Macro ********************************************************************  --> 

  <xacro:macro name="diffbot" params="prefix">

<!-- ****************************************************** Base Link ****************************************************************  -->

    <gazebo reference="${prefix}base_link"> 
      <material>Gazebo/Blue</material> 
    </gazebo> 

<!-- ****************************************************** Left Wheel Link **********************************************************  -->
 
    <gazebo reference="${prefix}left_wheel"> 
      <material>Gazebo/Black</material> 
    </gazebo> 

<!-- ****************************************************** Right Wheel Link ********************************************************  -->

    <gazebo reference="${prefix}right_wheel"> 
      <material>Gazebo/Black</material> 
    </gazebo> 

<!-- ****************************************************** Front caster Link ********************************************************  -->

    <gazebo reference="${prefix}caster_frontal_wheel"> 
      <material>Gazebo/White</material> 
    </gazebo> 

<!-- ****************************************************** Rear Caster Link *********************************************************  -->

    <gazebo reference="${prefix}caster_rear_wheel"> 
      <material>Gazebo/White</material> 
    </gazebo> 

<!-- ****************************************************** End Macro ****************************************************************  -->

  </xacro:macro>

<!-- ****************************************************** Expand Macro *************************************************************  -->
  
  <xacro:diffbot prefix="" />
   
<!-- ****************************************************** END **********************************************************************  -->

</robot>
