<?xml version="1.0"?>

<robot naem="diffbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- ****************************************************** diffbot Robot ************************************************************  -->
<!-- Muthanna Alwahash                                                                                                                  -->
<!-- March 2022                                                                                                                         -->
<!-- *********************************************************************************************************************************  -->

<!-- ****************************************************** Base Link ****************************************************************  -->

    <gazebo reference="${prefix}base_link"> 
      <material>Gazebo/Blue</material>
    </gazebo> 

<!-- ****************************************************** Front caster Link ********************************************************  -->

    <gazebo reference="${prefix}front_caster"> 
      <material>Gazebo/White</material> 
    </gazebo> 

<!-- ****************************************************** Rear Caster Link *********************************************************  -->

    <gazebo reference="${prefix}rear_caster"> 
      <material>Gazebo/White</material> 
    </gazebo> 
   
<!-- ****************************************************** END **********************************************************************  -->

</robot>
