<?xml version="1.0" encoding="UTF-8" ?>

<robot name="golem" xmlns:xacro="http://ros.org/wiki/xacro">

<!-- ****************************************************** Golem Robot **************************************************************  -->
<!-- Muthanna Alwahash                                                                                                                  -->
<!-- March 2022                                                                                                                         -->
<!-- *********************************************************************************************************************************  -->

<!-- ****************************************************** Base Link ****************************************************************  -->

    <gazebo reference="base_link"> 
        <material>Gazebo/Blue</material> 
    </gazebo> 

<!-- ****************************************************** Leg Macro ****************************************************************  -->

    <xacro:macro name="leg_gz" params="side position">

<!-- ****************************************************** Coxa Link ****************************************************************  -->

    <gazebo reference="coxa_${side}${position}"> 
        <material>Gazebo/Green</material> 
    </gazebo> 

<!-- ****************************************************** Femur Link ***************************************************************  -->
    
    <gazebo reference="femur_${side}${position}"> 
        <material>Gazebo/Red</material> 
    </gazebo> 

<!-- ****************************************************** Tibia Link ***************************************************************  -->
    
    <gazebo reference="tibia_${side}${position}"> 
        <material>Gazebo/Green</material> 
    </gazebo> 
    
<!-- ****************************************************** Tarsus Link **************************************************************  -->

    <gazebo reference="tarsus_${side}${position}"> 
        <material>Gazebo/Red</material> 
    </gazebo>

<!-- ******************************************************  End of Macro ************************************************************  -->

    </xacro:macro>

<!-- ****************************************************** Build Robot Model ********************************************************  -->
 
    <xacro:leg_gz side="R" position="R" />
    <xacro:leg_gz side="R" position="M" />
    <xacro:leg_gz side="R" position="F" />
    <xacro:leg_gz side="L" position="R" />
    <xacro:leg_gz side="L" position="M" />
    <xacro:leg_gz side="L" position="F" />

<!-- ******************************************************  End *********************************************************************  -->

</robot>
