<?xml version="1.0"?>

<robot name="kr120r2500pro" xmlns:xacro="http://wiki.ros.org/xacro">

<!-- ****************************************************** Macro ******************************************************************** -->

  <xacro:macro name="kuka_kr120r2500pro_gz" params="prefix">

<!-- ****************************************************** LINKS ******************************************************************** -->

<!-- ****************************************************** base link **************************************************************** -->

    <gazebo reference="${prefix}base_link">
    </gazebo> 

<!-- ****************************************************** link 1 (A1) ************************************************************** -->

    <gazebo reference="${prefix}link_1">
    </gazebo> 

<!-- ****************************************************** link 2 **************************************************************** -->

    <gazebo reference="${prefix}link_2">
    </gazebo> 

<!-- ****************************************************** link 3 **************************************************************** -->

    <gazebo reference="${prefix}link_3">
    </gazebo> 

<!-- ****************************************************** link 4 **************************************************************** -->

    <gazebo reference="${prefix}link_4">
    </gazebo> 

<!-- ****************************************************** link 5 **************************************************************** -->

    <gazebo reference="${prefix}link_5">
    </gazebo> 

<!-- ****************************************************** link 6 **************************************************************** -->

    <gazebo reference="${prefix}link_6">
    </gazebo> 

<!-- ****************************************************** End Macro **************************************************************** -->

  </xacro:macro>

<!-- ****************************************************** World Link *************************************************************** -->
  
  <link name="world"/>

  <gazebo reference="world">
    <static>true</static>
  </gazebo>

<!-- ****************************************************** Generates a urdf from macro ********************************************** -->

  <xacro:kuka_kr120r2500pro_gz prefix=""/>

<!-- ****************************************************** End ********************************************************************** -->

</robot>


