<?xml version="1.0"?>

<robot name="lbr_iiwa_14_r820" xmlns:xacro="http://wiki.ros.org/xacro">


<!-- ****************************************************** Macro ******************************************************************** -->

  <xacro:macro name="kuka_lbr_iiwa_14_r820_gz" params="prefix">

<!-- ****************************************************** LINKS ******************************************************************** -->
<!-- ****************************************************** base link **************************************************************** -->

    <gazebo reference="${prefix}base_link">
    </gazebo>

<!-- ****************************************************** link 1 (A1) ************************************************************** -->

    <gazebo reference="${prefix}link_1">
      <material>Gazebo/Orange</material>
    </gazebo>
    
<!-- ****************************************************** link 2 (A2) ************************************************************** -->

    <gazebo reference="${prefix}link_2">
      <material>Gazebo/Orange</material>
    </gazebo>
    
<!-- ****************************************************** link 3 (A3) ************************************************************** -->

    <gazebo reference="${prefix}link_3">
      <material>Gazebo/Orange</material>
    </gazebo>
    
<!-- ****************************************************** link 4 (A4) ************************************************************** -->

    <gazebo reference="${prefix}link_4">
      <material>Gazebo/Orange</material>
    </gazebo>
    
<!-- ****************************************************** link 5 (A5) ************************************************************** -->
    
    <gazebo reference="${prefix}link_5">
      <material>Gazebo/Orange</material>
    </gazebo>

<!-- ****************************************************** link 6 (A6) ************************************************************** -->
    
    <gazebo reference="${prefix}link_6">
      <material>Gazebo/Orange</material>
    </gazebo>


<!-- ****************************************************** link 7 (A7) ************************************************************** -->

    <gazebo reference="${prefix}link_7">
      <material>Gazebo/Gray</material>
    </gazebo> 

<!-- ****************************************************** End Macro **************************************************************** -->

  </xacro:macro>

<!-- ****************************************************** World Link *************************************************************** -->
  
  <link name="world"/>

  <gazebo reference="world">
    <static>true</static>
  </gazebo>

<!-- ****************************************************** Generates a urdf from macro ********************************************** -->

  <xacro:kuka_lbr_iiwa_14_r820_gz prefix=""/>

<!-- ****************************************************** End ********************************************************************** -->

</robot>

