<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- ****************************************************** Phantom X MKIII Robot ****************************************************  -->
<!-- Muthanna Alwahash                                                                                                                  -->
<!-- March 2022                                                                                                                         -->
<!-- *********************************************************************************************************************************  -->

<!-- ****************************************************** Main Macro ***************************************************************  -->

  <xacro:macro name="pxm3_gz" >

<!-- ****************************************************** base_link Link *************************************************************  -->

      <gazebo reference="base_link"> 
        <material>Gazebo/Blue</material> 
      </gazebo> 

<!-- ****************************************************** Create Legs using Legs Macro **********************************************  -->

      <xacro:legs_gz suffix="RF"/> <!-- Right Front  -->
      <xacro:legs_gz suffix="RM"/> <!-- Right Middle -->
      <xacro:legs_gz suffix="RR"/> <!-- Right Rear   -->
      <xacro:legs_gz suffix="LF"/> <!-- Left Front   -->
      <xacro:legs_gz suffix="LM"/> <!-- Left Middle  -->
      <xacro:legs_gz suffix="LR"/> <!-- Left Rear    -->

<!-- ****************************************************** End of Main Macro ********************************************************  -->

  </xacro:macro>

<!-- ****************************************************** Legs Macro ***************************************************************  -->

  <xacro:macro name="legs_gz" params="suffix">

<!-- ****************************************************** C1 Link ******************************************************************  -->

    <gazebo reference="c1_${suffix}"> 
      <material>Gazebo/Green</material> 
    </gazebo> 

<!-- ****************************************************** C2 Link ******************************************************************  -->

    <gazebo reference="c2_${suffix}"> 
      <material>Gazebo/Red</material> 
    </gazebo> 

<!-- ****************************************************** Thigh Link ***************************************************************  -->

    <gazebo reference="thigh_${suffix}"> 
      <material>Gazebo/Green</material> 
    </gazebo>

<!-- ****************************************************** Tibia Link ***************************************************************  -->

    <gazebo reference="tibia_${suffix}"> 
      <material>Gazebo/Red</material> 
    </gazebo> 

<!-- ****************************************************** end of Macro *************************************************************  -->
   
  </xacro:macro>

<!-- ****************************************************** Main Macro ***************************************************************  -->

  <xacro:pxm3_gz />

<!-- *********************************************************************************************************************************  -->

</robot>
