<?xml version="1.0"?>

<robot name="rrbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- ****************************************************** RRBot Robot **************************************************************  -->
<!-- Muthanna Alwahash                                                                                                                  -->
<!-- March 2022                                                                                                                         -->
<!-- *********************************************************************************************************************************  -->
 
<!-- ****************************************************** Base Link ****************************************************************  -->

  <gazebo reference="${prefix}base"> 
      <material>Gazebo/Orange</material> 
  </gazebo>

<!-- ****************************************************** Link 1 *******************************************************************  -->

  <gazebo reference="${prefix}link1"> 
      <material>Gazebo/Orange</material> 
  </gazebo>

<!-- ****************************************************** Link 2 *******************************************************************  -->

  <gazebo reference="${prefix}link2"> 
      <material>Gazebo/Orange</material> 
  </gazebo>    

<!-- ****************************************************** Camera Link **************************************************************  -->

  <gazebo reference="${prefix}camera"> 
      <material>Gazebo/Green</material> 
  </gazebo> 

<!-- ****************************************************** World Link ****************************************************************  -->
  
  <link name="world"/>

  <gazebo reference="world">
    <static>true</static>
  </gazebo>

<!-- ****************************************************** END **********************************************************************  -->

</robot>
