<?xml version="1.0"?>

<robot naem="skidbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- ****************************************************** diffbot Robot ************************************************************  -->
<!-- Muthanna Alwahash                                                                                                                  -->
<!-- March 2022                                                                                                                         -->
<!-- *********************************************************************************************************************************  -->

<!-- ****************************************************** Base Link ****************************************************************  -->

    <gazebo reference="${prefix}base"> 
      <material>Gazebo/Blue</material>
    </gazebo> 

<!-- ****************************************************** Front caster Link ********************************************************  -->

    <gazebo reference="${prefix}front_caster"> 
      <material>Gazebo/White</material> 
    </gazebo> 

<!-- ******************************************************  Joint States Publisher **************************************************  -->


<!-- ******************************************************  Diff Steer Drive Controller *********************************************  -->



<!-- ******************************************************  Camera ******************************************************************  -->


<!-- ****************************************************** hokuyo  ******************************************************************  -->

  
<!-- ****************************************************** END **********************************************************************  -->

</robot>
