<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- ****************************************************** Two Wheeled Robot ********************************************************  -->
<!-- Muthanna Alwahash                                                                                                                  -->
<!-- March 2022                                                                                                                         -->
<!-- *********************************************************************************************************************************  -->

<!-- ****************************************************** Base Link ****************************************************************  -->

  <gazebo reference="base_link"> 
      <material>Gazebo/Red</material> 
  </gazebo>

<!-- ****************************************************** Drive Wheels Link Macro **************************************************  -->

  <xacro:macro name="wheel" params="prefix">

      <gazebo reference="${prefix}_link"> 
          <material>Gazebo/FlatBlack</material> 
      </gazebo> 

  </xacro:macro>

<!-- ****************************************************** Drive Wheels Link and Joint **********************************************  -->

  <xacro:wheel prefix="drivewhl_l" />
  <xacro:wheel prefix="drivewhl_r" />

<!-- ****************************************************** Front Caster Link ********************************************************  -->

  <gazebo reference="front_caster"> 
      <material>Gazebo/White</material> 
  </gazebo> 

<!-- ****************************************************** LIDAR Link ***************************************************************  -->

  <gazebo reference="lidar_link"> 
      <material>Gazebo/Green</material> 
  </gazebo> 

<!-- *********************************************************************************************************************************  -->

</robot>
