<?xml version="1.0" ?>
<robot name="tb3_waffle_pi" xmlns:xacro="http://ros.org/wiki/xacro">

<!-- ****************************************************** Turtlebot 3 Waffle pi Robot **********************************************  -->
<!-- Muthanna Alwahash                                                                                                                  -->
<!-- March 2022                                                                                                                         -->
<!-- *********************************************************************************************************************************  -->

<!-- ****************************************************** Base Link ****************************************************************  -->

  <gazebo reference="base_link"> 
    <material>Gazebo/Blue</material> 
  </gazebo> 

<!-- ****************************************************** Wheel Left Link **********************************************************  -->

  <gazebo reference="wheel_left_link"> 
    <material>Gazebo/FlatBlack</material> 
  </gazebo>

<!-- ****************************************************** Wheel Right Link *********************************************************  -->

  <gazebo reference="wheel_right_link"> 
    <material>Gazebo/FlatBlack</material> 
  </gazebo> 

<!-- ****************************************************** Caster Back Right Link ***************************************************  -->

  <gazebo reference="caster_back_right_link"> 
    <material>Gazebo/White</material> 
  </gazebo> 

<!-- ****************************************************** Caster Back Left Link ****************************************************  -->

  <gazebo reference="caster_back_left_link"> 
    <material>Gazebo/White</material> 
  </gazebo> 

<!-- ****************************************************** Laser Scan Link **********************************************************  -->

  <gazebo reference="base_scan"> 
    <material>Gazebo/Green</material> 
  </gazebo> 

<!-- *********************************************************************************************************************************  -->

</robot>
