<?xml version="1.0"?>
<robot name="cart" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- ****************************************************** Cart Robot ***************************************************************  -->
<!-- Muthanna Alwahash                                                                                                                  -->
<!-- March 2022                                                                                                                         -->
<!-- *********************************************************************************************************************************  -->

<!-- ****************************************************** Parameters ***************************************************************  --> 
    
    <xacro:property name="pkg_path"     value="$(find bots)"                /> 
    <xacro:property name="mesh_path"    value="${pkg_path}/meshes/cart/"    />
    <xacro:property name="config_path"  value="${pkg_path}/config/"         />
    
    <xacro:property name="name_space"   value="cart" /> 
    <xacro:property name="prefix"       value=""      /> 
        
<!-- ****************************************************** Includes *****************************************************************  --> 

    <xacro:include filename="${pkg_path}/xacro/common_rviz_materials.xacro" />  <!--  RVIZ Colors  -->
    <xacro:include filename="${pkg_path}/xacro/urdf_cart.xacro" />              <!--  Robot URDF   -->
    <xacro:include filename="${pkg_path}/gazebo/gz_cart_position.xacro" />      <!--  Gazebo Sim   -->
    <xacro:include filename="${pkg_path}/r2c/r2c_cart_position.xacro" />        <!--  ROS2_Control -->
    
<!-- ****************************************************** END **********************************************************************  -->

</robot>