<?xml version="1.0"?>
<robot name="cart" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- ****************************************************** Cart Robot ***************************************************************  -->
<!-- Muthanna Alwahash                                                                                                                  -->
<!-- March 2022                                                                                                                         -->
<!-- *********************************************************************************************************************************  -->

<!-- ****************************************************** Parameters ***************************************************************  --> 
    
    <xacro:property name="pkg_path"     value="$(find bots)"                /> 
    <xacro:property name="mesh_path"    value="${pkg_path}/meshes/cart/"    />
        
    <xacro:property name="name_space"   value="cart" /> 
    <xacro:property name="prefix"       value=""      /> 
        
<!-- ****************************************************** Includes *****************************************************************  --> 

    <xacro:include filename="${pkg_path}/xacro/common_rviz_materials.xacro" />  <!--  RVIZ Colors  -->
    <xacro:include filename="${pkg_path}/xacro/urdf_cart.xacro" />              <!--  Robot URDF   -->
        
<!-- ****************************************************** END **********************************************************************  -->

</robot>