<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="diffbot" type="system">

      <hardware>
        <plugin>fake_components/GenericSystem</plugin>
        <param name="fake_sensor_commands">${fake_sensor_commands}</param>
        <param name="state_following_offset">0.0</param>
      </hardware>

      <joint name="${prefix}right_wheel_joint">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max"> 1</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>

      <joint name="${prefix}left_wheel_joint">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max"> 1</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>

    </ros2_control>

</robot>
